<div class='bedard-contact-treesort'>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= e(trans('bedard.contact::lang.subjects.reorder.popup_header')) ?></h4>
    </div>
    <form>
        <div class="modal-body form-container">
            <?php if ($subjects->isEmpty()): ?>
                <?= e(trans('bedard.contact::lang.subjects.reorder.empty_message')) ?>
            <?php else: ?>
                <div
                    class="control-treelist"
                    data-control="treelist"
                    data-handle="a.move"
                    data-stripe-load-indicator>
                    <ol data-control="tree">
                        <?php foreach ($subjects as $subject): ?>
                            <?= $this->makePartial('branch', ['subject' => $subject]) ?>
                        <?php endforeach ?>
                    </ol>
                </div>
            <?php endif ?>
        </div>

        <div class="modal-footer">
            <div class="loading-indicator-container">
                <div data-control="loading-indicator" class="loading-indicator">
                    <div><?= e(trans('backend::lang.form.saving')) ?></div>
                    <span></span>
                </div>
                <?php if (!$subjects->isEmpty()): ?>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        data-control="apply-btn"
                        data-hotkey="ctrl+s, cmd+s, enter">
                        <?= e(trans('backend::lang.form.apply')) ?>
                    </button>
                <?php endif ?>
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    data-hotkey="esc">
                    <?= e(trans('backend::lang.form.cancel')) ?>
                </button>
            </div>
        </div>
    </form>
</div>
